.card-object-container {
    cursor: pointer;
}

.ptb-3-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.grid-spacing {
    padding: 0.1rem !important;
    margin: 0 !important;
}

.container-xsm {
    max-width: 1100px !important;
}

.col-6-5 {
    width: 6.5% !important;
}

@media only screen and (max-width: 1399px) {
    .container-xsm {
        max-width: 950px !important;
    }

    .col-6-5 {
        width: 8.33333333% !important;
    }
}

@media only screen and (max-width: 992px) {
    .container-xsm {
        max-width: 600px !important;
    }
    
    .col-6-5 {
        width: 12.5% !important;
    }
}

@media only screen and (max-width: 768px) {
    .container-xsm {
        max-width: 450px !important;
    }

    .col-6-5 {
        width: 16.66666667% !important;
    }
}

@media only screen and (max-width: 576px) {
    .container-xsm {
        width: 250px !important;
    }

    .col-6-5 {
        width: 33.333333333333333333333333333333% !important;
    }
}